.header {
  height: 56px;
  background-color: #16161d;
  border-bottom: 1px solid var(--hi-color-gray-2);


  .logo {
    display: flex;
    img {
      max-width: 120px;
    }
  }
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
