.wrapper {
  background: var(--hi-color-gray-2);
  padding: var(--hi-spacing-md) var(--hi-spacing-lg);
  margin: calc(var(--hi-spacing-lg) * -1);
  border-bottom: 1px solid var(--hi-color-gray-2);
  border-radius: var(--hi-radius-lg) var(--hi-radius-lg) 0 0;
  margin-bottom: var(--hi-spacing-lg);

  .heading {
    margin: 0;
    font-weight: 500;
    color: var(--hi-text);
  }

  .description {
    margin: 0;
    font-weight: 300;
    color: var(--hi-text-light);
  }
}
